<IfModule mod_rewrite.c>
    RewriteEngine On

    # Pastikan tidak ada looping jika sudah di folder public
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Block access to sensitive files (Tetap simpan ini)
<FilesMatch "^\.">
    Require all denied
</FilesMatch>